.app {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  input:hover, textarea:hover {
    border: 2px solid rgb(80, 160, 230);
  }

  input:focus, textarea:focus {
    border-color:  rgb(80, 160, 230);
    outline: none; /* Optionally remove the default outline */
  }
   
  .character-count {
    font-size: 0.9em;
    color: #555;
  }
  
  button {
    padding: 10px 15px;
    background-color: #0c61d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0f55c5;
  }
  
  
  